<div style="display: flex; flex-direction: column; width: 100%; padding: 20px;  background-color: #222222;">
  <h1 style="margin-bottom: 5px;">Eric Shreve</h1>  
  <div style="margin-bottom: 20px;">
    <h4 id="full-stack-software-engineer">Full Stack Software Engineer</h4>
    <small style="text-align: right;">Building Practical Solutions with a Flair for Automation and Efficiency</small>
  </div>
  <div>
    {% include social.html %}
  </div>
  <div style="margin-top: 20px;">
    <p>{{ site.data.banner.headline }}</p>
  </div>
</div>
