<div style="display: flex; width: 100%; padding-top: 50px; padding-bottom: 50px; background-color: #222222;">
<div style="display: flex; flex-direction: column; width:100%; align-items:center; justify-content: center;">
<div style="display: flex; flex-direction: row; justify-content: space-between; width: 100%; max-width: 800px; margin-bottom: 20px;">
  <h1 style="margin-right: 20px;">Eric Shreve</h1>       
      
  <div>
    <h3 id="full-stack-software-engineer">Full Stack Software Engineer</h3>
    <small>Building Practical Solutions with a Flair for Automation and Efficiency</small>
  </div>
</div>

<div style="display: flex; flex-direction: row; justify-content: space-between; width: 100%; max-width: 800px;">
<p>
Thanks for stopping by! Explore the pages linked to the cards below to see some of my work in action, or
head over to the <a href="/about">about page</a> for an broader outline of my experience and background.
The <a href="/blog">blog</a> contains a collection of smaller scale write-ups on specific processes
and projects.
</p>
</div>
</div>
</div>
