<div style="display: flex; flex-direction: column; width: 100%; padding: 20px;  background-color: #222222;">
  <h1 style="margin-bottom: 5px;">Eric Shreve</h1>  
  <div style="margin-bottom: 20px;">
    <h4 id="full-stack-software-engineer">Full Stack Software Engineer</h4>
    <small style="text-align: right;">Building Practical Solutions with a Flair for Automation and Efficiency</small>
  </div>
  <div>
    {% include social.html %}
  </div>
  <div style="margin-top: 20px;">
    <p>
      Thanks for stopping by! Head over to the <a href="/about">about</a> page for an outline of my background.
      The <a href="/blog">blog</a> page contains an index of all posts, these are tagged, linked, and referenced from other pages and posts as need. 
      The <a href="/tags">tags</a> page displays a breakdown of tag frequency in posts, and facilitates exploring posts by tag.
    </p>
  </div>
</div>
