<div class="venn-diagram">
  <div class="circle1"></div>
  <div class="circle2"></div>
  <div class="overlap"></div>
  <div class="label1">Circle 1</div>
  <div class="label2">Circle 2</div>
  <div class="overlap-label">Overlap</div>
</div>

<style>
  .venn-diagram {
    position: relative;
    width: 300px;
    height: 300px;
    margin: 0 auto;
  }
  .circle1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #f00;
  }
  .circle2 {
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #0f0;
  }
  .overlap {
    position: absolute;
    top: 50px;
    left: 50px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #00f;
  }
  .label1 {
    position: absolute;
    top: 100px;
    left: 0;
    width: 200px;
    text-align: center;
  }
  .label2 {
    position: absolute;
    top: 100px;
    right: 0;
    width: 200px;
    text-align: center;
  }
  .overlap-label {
    position: absolute;
    top: 100px;
    left: 100px;
    width: 200px;
    text-align: center;
    color: #fff;
  }
</style>
