{% assign tool_data = site.data.tools[include.tool] %}
<div class="newbrief">
  <div style="margin-right: 20px; margin-left: 10px;">
    {{ tool_data.icon }}
  </div>
  <div style="width: 100%; display: flex; flex-direction: column;">
    <div style="display: flex; flex-direction: row; justify-content: space-between; align-items: baseline;">
      <h3><a href="{{ tool_data.url }}">{{ tool_data.name }}</a></h3>
      <a href="/tag/{{ tool_data.slug }}"> posts: ({{ site.tags[tool_data.slug] | size }})</a>
    </div>
    <p>{{ tool_data.brief }}</p>
  </div>
</div>

