{% assign tool_data = site.data.tooldef[include.tool] %}
<div class="newbrief">
  <div>
    {{ tool_data.icon }}
  </div>
  <div style="display: flex; flex-direction: column; padding: 10px;">
    <h3><a href="/overview/{{ tool_data.slug }}">{{ tool_data.name }} Overview</a></h3>
    <p>{{ tool_data.brief }}</p>
    <div style="display: flex; justify-content: end;"><a href="/tag/{{ tool_data.slug }}">tag index: {{ tool_data.slug }} ({{ site.tags[tool_data.slug] | size }})</a></div>
  </div>
</div>

