.techbrief {
  display: flex;
  justify-content: space-between;
  align-items: center;
  a {
    padding-left: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: large;
    opacity: 0.1;

    &:is(:hover) {
      opacity: 1;
      color: white;
    }
  }

  &:is(:hover) {
    a {
      opacity: .8;
    }
  }
}

.hardware-box {
  border-radius: 10px;
  border: 2px solid gray;
  padding: 20px;
}

.hardware-box:hover {
  box-shadow: 0 0 0.5rem;
}

.brief-container {
  border-radius: 10px;
  border-right: 2px solid gray;
  border-bottom: 2px solid gray;
  padding: 20px;
  margin-bottom: 10px;
}

.brief-container:hover {
  box-shadow: 0 0 0.5rem;
}