.techbrief {
  border-radius: 10px;
  border-right: 2px solid gray;
  border-bottom: 2px solid gray;
  padding: 20px;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  a {
    padding-left: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: large;
    opacity: 0.1;

    &:is(:hover) {
      opacity: 1;
      color: white;
    }
  }

  &:is(:hover) {
    a {
      opacity: .8;
    }
  }
}

.hardware-box {
  border-radius: 10px;
  border: 2px solid gray;
  padding: 20px;
}

.hardware-box:hover {
  box-shadow: 0 0 0.5rem;
}

.brief-container {
  border-radius: 10px;
  border-right: 2px solid gray;
  border-bottom: 2px solid gray;
  padding: 20px;
  margin-bottom: 10px;
}

.techbrief:hover {
  box-shadow: 0 0 0.5rem;
}

details {
  flex: 1;

  &:is(:hover) {
    cursor: pointer;
  }

  p {
    cursor: default;
  }
}



.svg-icon-big {
  width: 2rem;
  height: 2rem;
  display: inline-block;
  fill: currentColor;
  padding: 10px;
  margin-right: 20px;
}

// .sectiontitle {
//   display: flex;
  
//   background-color: #433e3e;
//   border-radius: 10px;
//   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
// }

.sectiontitle {
  display: flex;
  padding-top: 10px;
  background-color: #222222; /* Darker grey for a subtle look */
  border-radius: 10px;
  box-shadow: 0 4px 8px 4px #1D1D1D; 
  color: #e0e0e0; /* Light grey text for better contrast and readability */
  border: 1px solid #1D1D1D;
}
