---
layout: base
---
<div class="blog">
  {%- if page.title -%}
  <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%} 
  {% assign posts = site.posts %}
  {%- if posts.size > 0 -%} {%- if page.list_title -%}
  <h2 class="post-list-heading">{{ page.list_title }}</h2>
  {%- endif -%}{%- endif -%}
  <ul class="post-list">
    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
    {%- for post in posts -%}
    <li>
      <span class="post-meta">{{ post.date | date: date_format }}</span>
      <h3>
        <div style="display: flex; justify-content: space-between;">
            <span style="flex: 1 1 50%; min-width: 40%;">
                <a class="post-link" href="{{ post.url | relative_url }}">
                    {{ post.title | escape }}
                </a>
            </span>
            <span class="post-meta">{{ post | tags }}</span>
        </div>
      </h3>    
      {%- if site.show_excerpts -%} {{ post.excerpt }} {%- endif -%}
    </li>
    <hr>
    {%- endfor -%}
  </ul>
</div>