---
layout: base
---
<div class="blog">
  {%- if page.title -%}
  <div class="cat-title">
    <div style="display: flex; align-items: center; justify-content: space-between;">
      <h1 class="page-heading"><span style="display: flex; align-items: center;">{{ site.data.simpleicons.catnew }}{{ page.title }}</span>
        </h1>
    </div>
    <div>{% include cat_cloud.html excl = page.title %}</div>
  </div>
  <hr>
  {%- endif -%} 
  {% assign posts = site.posts | sort: 'modified_date' | reverse %}
  {%- if posts.size > 0 -%} {%- if page.list_title -%}
  <h2 class="post-list-heading">{{ page.list_title }}</h2>
  {%- endif -%}{%- endif -%}
  <ul class="post-list">
    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
    {%- for post in posts -%}
    {%- if post.categories contains page.title -%}
    {%- assign catt = post.categories | last -%}
    <li>
        <span class="post-meta">
          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
          {%- assign mdate = post.date | date_to_xmlschema -%}
          {%- if post.modified_date -%} ~ {%- assign mdate = post.modified_date | date_to_xmlschema -%}{%- endif -%}
          <time class="dt-modified" datetime="{{ mdate }}" itemprop="dateModified">
            {{ mdate | date: date_format }}
          </time>
        </span>
      <h3>
        <div style="display: flex; justify-content: space-between;">
            <div style="flex: 1 1 50%; min-width: 40%;">
                <a class="post-link" href="{{ post.url | relative_url }}">
                    {{ post.title | escape }}
                </a>
                <div class="post-meta">{{ site.data.simpleicons.catnew }}<a href="/blog/{{ catt }}">{{ catt }}</a></div>
              </div>
              <div class="post-meta">{{ site.data.simpleicons.tag }}{{ post | tags }}</span>
            </div>
        </div>
      </h3>    
      {%- if site.show_excerpts -%} {{ post.excerpt }} {%- endif -%}
    </li>
    <hr>
    {%- endif -%}
    {%- endfor -%}
  </ul>
</div>
