---
layout: base
---
{% assign overview_post_found = nil %}
{% if page.tag %}
  <h1>tag : <code>{{ page.tag }}</code></h1>
  <br>
  {% for post in site.categories.overview %}
    {% assign clean_title = post.title | slugify | split: "-" | first %}
    {% if clean_title == page.tag %}
      <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
      {{ post.excerpt }}
      {% assign overview_post_found = post %}
      {% break %}
    {% endif %}
  {% endfor %}
  {% if overview_post_found %}
    <br>
  {% endif %}
  <h2>posts:</h2>
  <ul>
  {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
  {%- for post in page.posts -%}
  {% if post != overview_post_found %}
  <li style="margin-top: 10px; margin-left: 10px;">
    <h3>
      <div style="display: flex; justify-content: space-between;">
            <span style="flex: 1 1 50%; min-width: 40%;">
                <a class="post-link" href="{{ post.url | relative_url }}">
                    {{ post.title | escape }}
                </a>
            </span>
          <span class="post-meta">{{ post | tags }}</span>
      </div>
    </h3>    
    {%- if site.show_excerpts -%} {{ post.excerpt }} {%- endif -%}
  </li>
  {% endif %}
  {%- endfor -%}

  <br>
  <hr>
{% endif %}

<div>
  {%- include tag_cloud.html -%}
</div>
