---
layout: base
---
{% assign overview_post_found = nil %}
{% if page.tag %}
  <h1>tag: <code>{{ page.tag }}</code></h1>
  <br>
  {% for post in site.categories.overview %}
    {% assign clean_title = post.title | slugify | split: "-" | first %}
    {% if clean_title == page.tag %}
      <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
      {{ post.excerpt }}
      {% assign overview_post_found = post %}
      {% break %}
    {% endif %}
  {% endfor %}
  {% if overview_post_found %}
    <br>
  {% endif %}
  
  <h2>related posts</h2>
  <ul class="post-list">
  {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
  {%- for post in page.posts -%}
  {% if post != overview_post_found %}
    <li><a href="{{ post.url }}">{{ post.title }}</a> ({{ post.date | date_to_string }} | Tags: {{ post | tags }})</li>
  {% endif %}
  {%- endfor -%}

  <br>
  <hr>
{% endif %}

<div>
  {%- include tag_cloud.html -%}
</div>
